{% extends "system/base.html" %} {% load static %} {% block title %}checkout
{%endblock%} {% block content %} {% load widget_tweaks %}

<div class="container-fluid">
  <form action="." method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">Оформление заказа</div>
    </div>
    <div class="row mt-5">
      <div class="col">Информация о покупателе:</div>
    </div>
    <div class="row mt-2">
      <div class="form-group col-4">
        <label for="formGroupExampleInput">Телефон</label>
        {% render_field form.phone class+="form-control" %}
      </div>
      <div class="form-group col-4">
        <label for="formGroupExampleInput">Имя</label>
        {% render_field form.fullname class+="form-control" %}
      </div>
      <div class="form-group col-4">
        <label for="formGroupExampleInput">Электронная почта</label>
        {% render_field form.email class+="form-control" %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">Адрес:</div>
    </div>
    <div class="row mt-2">
      <div class="form-group col-5">
        <label for="formGroupExampleInput">Город</label>
        {% render_field form.city class+="form-control" %}
      </div>
      <div class="form-group col">
        <label for="formGroupExampleInput">Улица</label>
        {% render_field form.street class+="form-control" %}
      </div>
    </div>
    <div class="row mt-2">
      <div class="form-group col-3">
        <label for="formGroupExampleInput">Номер дома</label>
        {% render_field form.house_no class+="form-control" %}
      </div>
      <div class="form-group col-3">
        <label for="formGroupExampleInput">Номер квартиры</label>
        {% render_field form.flat_no class+="form-control" %}
      </div>
      <div class="form-group col-3">
        <label for="formGroupExampleInput">Строение</label>
        {% render_field form.building_no class+="form-control" %}
      </div>
      <div class="form-group col-3">
        <label for="formGroupExampleInput">Индекс</label>
        {% render_field form.postal_code class+="form-control" %}
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">Способ оплаты:</div>
    </div>
    
    <div class="row mt-5">
      <div class="form-group col">
        <label for="exampleFormControlTextarea1">Комментарий к заказу</label>
        {% render_field form.comment rows="3" class+="form-control" %}
      </div>
    </div>
    <div class="row mt-2">
      <div class="form-check col-6">
        {% render_field form.call_me class+="form-check-input" %}
        <label class="form-check-label" for="defaultCheck1">
          Перезвоните мне
        </label>
      </div>
      <div class="col-6 d-flex justify-content-end">
        Total price: {{ cart.get_total_price }}
      </div>
    </div>
    <div class="row mt-2">
      <div class="col d-flex justify-content-end">
        <input type="submit" class="btn btn-primary" value="Заказать" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
