{% extends "cp/base.html" %} {% load static %} {% block title %} index
{%endblock%} {% load widget_tweaks %} {% block content %}
<div class="row">
  <div class="col">Изменение категории</div>
</div>
{% if alert == 'success' %}
<div class="row">
  <div class="col">
    <div class="alert alert-success" role="alert">
      Данные обновлены
    </div>
  </div>
</div>
{% endif %}
{% if alert == 'danger' %}
<div class="row">
  <div class="col">
    <div class="alert alert-danger" role="alert">
      Ошибка: {{ errors }}
    </div>
  </div>
</div>
{% endif %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="input_name">Название</label>
        {% render_field form.name class+="form-control" %}
      </div>
      <div class="form-group">
        <label for="input_number">Порядковый номер</label>
        {% render_field form.number class+="form-control" %}
      </div>
      <div class="form-group">
        <label for="input_slug">slug</label>
        {% render_field form.slug class+="form-control" %}
      </div>
      <div class="form-group">
        <label for="input_image">Картинка</label>
        {% render_field form.image class+="form-control" %}
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <a href="{% url "controlpanel:category_delete" category.id %}" class="btn btn-danger">Удалить</a>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
  </div>
</form>
{%endblock%}
