{% extends "cp/base.html" %} {% load static %} {% block title %} index
{%endblock%} {% block content %}
<div class="row">
  <div class="col">Выберите товар для изменения</div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Категория</th>
          <th scope="col">Название</th>
          <th scope="col">Артикул</th>
          <th scope="col">slug</th>
          <th scope="col">Цена</th>
          <th scope="col">Фото</th>
          <th scope="col">Добавлен</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <th scope="row">{{ product.category }}</th>
          <td><a href="{% url "controlpanel:product_detail" product.id %}">{{ product.name }}</a></td>
          <td>{{ product.code }}</td>
          <td>{{ product.slug}}</td>
          <td>{{ product.price}}</td>
          <td>
            {% if product.mainimage %}<a href="{{ product.mainimage.url }}"
              ><img
                style="height: 30px"
                src="{{ product.mainimage.url }}"
                alt="product image"
                class="img-thumbnail" /></a
            >{% endif %}
          </td>
          <td>{{ product.created }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    Всего {{ products.count }} товаров
  </div>
</div>
{%endblock%}
